@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-smoky: #0d0809;
  --color-bone: #cacab9;
  --color-cardinal: #c4313b;

  --font-splash: "Splash";
  --font-noto: "Noto Sans"
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #cacab9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #aa2a33;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d56f6f;
}